html,
body {
    height: 100%;
}

body {
    font-family: "Open Sans",Arial,sans-serif;
}
.hero h1,
.hero h2,
.post-title,
#footer h2 {
    font-family: Podkova,Georgia,serif;
}

#header {
    background-color: #1ABC9C;
}
/* green text */
.hero h1,
.hero h2,
#footer .highlight,
.post-title > a {
    color: #1ABC9C;
}

@media (max-width: 768px) {
    .hero h1 {
        font-size: 26px;
    }
}

@media (max-width: 768px) {
    article.post {
        margin-top: 28px !important;
        margin-bottom: 28px !important;
        padding-bottom: 0px !important;
    }
}

@media (max-width: 768px) {
    .hero h2 {
        font-size: 22px;
    }
}

#content {
    margin-top: 130px;
    margin-bottom: 50px;
}

/**
 * Codefresh version of the navbar (transparent-ish)
 */
.navbar-codefresh {
    background-color: transparent;
    border-color: transparent;
    border-width: 0px;
    margin-bottom: 0px !important;
}

.navbar-codefresh > .container {
    padding-left: 6px;
}

.navbar-codefresh li.active a {
    background-color: transparent !important;
}

.navbar-codefresh li a {
    font-size: 15px;
    font-size: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.navbar-codefresh li.active  a{
    background-color: #f1c40f !important;
    color: #fff !important;
}

.navbar-codefresh li a:hover,
.navbar-codefresh li a:focus {
    background-color: #f1c40f !important;
    color: #fff !important;
    box-shadow: 0px 0px 6px 2px rgba(255,255,255,0.4);
}

.navbar-codefresh li a:active {
    background-color: #f1c40f !important;
    color: #169e80 !important;
    box-shadow: 0px 0px 6px 2px rgba(255,255,255,0.4);
}

.navbar-codefresh li:after {
    content: '|';
    position: absolute;
    top: 15px;
    right: -5px;
    color: #fff;
}

.navbar-codefresh li:last-child:after {
    content: "";
}

.navbar-codefresh * {
    color: #fff !important;
}
.navbar-codefresh .navbar-brand img {
    position: relative;
    top: -3px;
}

/**
 * Forms
 */
.btn,
.form-control {
    border-radius: 0px;
}

/**
 * Codefresh button styles
 */
.btn {
    border-width: 0px;
}
.btn-primary {
    background-color: #f1c40f !important;
}

/**
 * Everything in the footer
 */
#footer {
    background-color: #2e2e2e;
    padding-top: 20px;
}
#footer,
#footer a {
    color: #838383;
}
#footer h2 {
    border-bottom: 1px solid #606163;
    color: #fff;
    font-weight: bold;
    font-size: 24px;
    padding-bottom: 12px;
}
#footer p {
    font-size: 12px;

}
/* Special form styles in the footer */
.form-control {
    background-color: #606163;
    border-width: 0px;
    color: #fff;
}

/**
 * Posts
 */

.post {
    margin-top: 40px;
    margin-bottom: 40px;
    padding-bottom: 6rem !important;
    border-bottom: none !important;
}

@media (max-width: 768px) {
    .post {
        width: 90%;
        margin-left: 5%;
    }
}


.post::after {
    display: none !important;
}

.post-background {
    height: 0 !important;
    padding-top: 31% !important;
}

.post-title {
    font-weight: bold;
    font-size: 3rem !important;
    margin-bottom: 0;
}

@media (max-width: 768px) {
    .post-title {
        font-size: 2rem !important;
    }
}

.post-template .post-title {
    font-weight: bold;
    font-size: 4rem !important;
    margin-bottom: 0;
}

@media (max-width: 768px) {
    .post-template .post-title {
        font-size: 2rem !important;
    }
}


.post-template .post-header {
    margin-top: 50px;
}
.post-excerpt {
    font-size: 12px;
}

.post-excerpt p {
    line-height: 1.3em !important;
    margin-bottom: 1rem !important;
    font-size: 1.5rem !important;
}

.post-excerpt a {
    font-size: 1.5rem !important;
}

.post-meta {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}

.post-meta * {
    color: #333 !important;
    font-size: 14px;
}
.post-content img {
    max-width: 100% !important;
}

.post-row {
    display: table;
    float: none;
}

.post-col {
    display: table-cell;
    height: 100%;
    float: none;
    vertical-align: middle;
    overflow: hidden;
    position: relative;
}

.post-col > a {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background-position: center;
    background-size: cover;
}

@media (max-width: 768px) {
    .post-row {
        display: block;
    }

    .post-col {
        display: block;
    }

    .post-image {
        margin-bottom: 40px;
        min-height: 200px;
    }
}

/**
 * Hero unit (big unit on the top of the homepage)
 */
.hero-wrapper {
    background: linear-gradient(15deg, #eaeaea 50%,#ffffff 100%);
    height: 94vh;
}
.hero-background {
    background-position: center bottom;
    background-size: cover;
    height: 100%;
}
.hero {
    display: table;
    width: 100%;
    height: 100%;
    background: transparent no-repeat top center;
    background-size: 1004px !important;
}

.hero > .container {
    display: table-cell;
    vertical-align: middle;
}

.hero h1,
.hero h2 {
    font-weight: bold;
}

/* hide the signup form by default in the header */
.hero form {
    display: none;
}
.hero .form-control {
    background-color: #fff;
    border-width: 1px;
    color: #606163;
}

.btn-signup {
    margin-top: 46px;
    padding: 15px 50px;
    font-family: 'Open Sans';
    font-size: 16px;
    background-color: #f1c40f;
    border: none;
    border-radius: 30px;
    font-weight: 600;
    font-size: 16px;
    box-shadow: 0 0 0 6pt rgba(255,255,255,.3);
    color: #fff !important;
    text-transform: uppercase;
    transition: box-shadow 200ms, background-color 200ms;
}

.btn-signup:hover, .btn-signup:focus {
    background-color: #f1c40f;
    color: #fff;
    box-shadow: 0 0 0 6pt rgba(255,255,255,.45);
}

.btn-signup-footer {

}

.hero-background {
    background-image: url('../bg.jpg');
}

.post-background {
    height: 400px;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}
