html,
body {
    height: 100%;
}

body {
    font-family: "Open Sans",Arial,sans-serif;
}

/**
 * Codefresh version of the navbar (transparent-ish)
 */
.navbar-codefresh {
    background-color: transparent;
    border-color: transparent;
    margin-top: 50px;
}
.navbar-codefresh .active > a {
    background-color: #f1c40f !important;
}
.navbar-codefresh * {
    color: #fff !important;
}

/**
 * Forms
 */
.btn,
.form-control {
    border-radius: 0px;
}

/**
 * Codefresh button styles
 */
.btn {
    border-width: 0px;
}
.btn-primary {
    background-color: #f1c40f !important;
}

/**
 * Everything in the footer
 */
#footer {
    background-color: #2e2e2e;
}
#footer,
#footer a {
    color: #838383;
}
#footer h2 {
    border-bottom: 1px solid #606163;
    color: #fff;
    font-family: Podkova,Georgia,serif;
    font-weight: bold;
    font-size: 24px;
    padding-bottom: 12px;
}
#footer p {
    font-size: 12px;

}
#footer .highlight {
    color: #1ABC9C;
}
/* Special form styles in the footer */
.form-control {
    background-color: #606163;
    border-width: 0px;
    color: #fff;
}
