html,
body {
    height: 100%;
}

body {
    font-family: "Open Sans",Arial,sans-serif;
}
.hero h1,
.hero h2,
.post-title,
#footer h2 {
    font-family: Podkova,Georgia,serif;
}

#header {
    background-color: #1ABC9C;
}
/* green text */
.hero h1,
.hero h2,
#footer .highlight,
.post-title > a {
    color: #1ABC9C;
}

@media (max-width: 768px) {
    .hero h1 {
        font-size: 32px;
    }
}

@media (max-width: 768px) {
    article.post {
        margin-top: 28px !important;
        margin-bottom: 28px !important;
        padding-bottom: 0px !important;
    }
}

@media (max-width: 768px) {
    .hero h2 {
        font-size: 22px;
    }
}

#content {
    margin-top: 130px;
    margin-bottom: 50px;
}

/**
 * Codefresh version of the navbar (transparent-ish)
 */
.navbar-codefresh {
    background-color: transparent;
    border-color: transparent;
    border-width: 0px;
    margin-bottom: 0px !important;
}

.navbar-codefresh > .container {
    padding-left: 6px;
}

.navbar-codefresh li.active a {
    background-color: transparent !important;
}

.navbar-codefresh li a {
    font-size: 15px;
    font-size: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.navbar-codefresh li  a{
    background-color: #f1c40f !important;
    color: #fff !important;
}

.navbar-codefresh li.active  a{
    background-color: #f1c40f !important;
    color: #fff !important;
}

.navbar-codefresh * {
    color: #fff !important;
}

.navbar-codefresh .navbar-brand img {
    position: relative;
    top: -3px;
}

/**
 * Forms
 */
.btn,
.form-control {
    border-radius: 0px;
}

/**
 * Codefresh button styles
 */
.btn {
    border-width: 0px;
}
.btn-primary {
    background-color: #f1c40f !important;
}

/**
 * Everything in the footer
 */
#footer {
    background-color: #2e2e2e;
    padding-top: 20px;
}
#footer,
#footer a {
    color: #838383;
}
#footer h2 {
    border-bottom: 1px solid #606163;
    color: #fff;
    font-weight: bold;
    font-size: 24px;
    padding-bottom: 12px;
}
#footer p {
    font-size: 12px;

}
/* Special form styles in the footer */
.form-control {
    background-color: #606163;
    border-width: 0px;
    color: #fff;
}

/**
 * Posts
 */

.post {
    margin-top: 40px;
    margin-bottom: 40px;
    padding-bottom: 6rem !important;
    border-bottom: none !important;
}

@media (max-width: 768px) {
    .post {
        width: 90%;
        margin-left: 5%;
    }
}


.post::after {
    display: none !important;
}

.post-background {
    height: 0 !important;
    padding-top: 31% !important;
}

.post-title {
    font-weight: bold;
    font-size: 3rem !important;
    margin-bottom: 0;
}

@media (max-width: 768px) {
    .post-title {
        font-size: 2rem !important;
    }
}

.post-template .post-title {
    font-weight: bold;
    font-size: 4rem !important;
    margin-bottom: 0;
}

@media (max-width: 768px) {
    .post-template .post-title {
        font-size: 2rem !important;
    }
}


.post-template .post-header {
    margin-top: 50px;
}
.post-excerpt {
    font-size: 12px;
}

.post-excerpt p {
    line-height: 1.3em !important;
    margin-bottom: 1rem !important;
    font-size: 1.5rem !important;
}

.post-excerpt a {
    font-size: 1.5rem !important;
}

.post-meta {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}

.post-meta * {
    color: #333 !important;
    font-size: 14px;
}
.post-content img {
    max-width: 100% !important;
}

.post-row {
    display: table;
    float: none;
}

.post-col {
    display: table-cell;
    height: 100%;
    float: none;
    vertical-align: middle;
    overflow: hidden;
    position: relative;
}

.post-col > a {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background-position: center;
    background-size: cover;
}

@media (max-width: 768px) {
    .post-row {
        display: block;
    }

    .post-col {
        display: block;
    }

    .post-image {
        margin-bottom: 40px;
        min-height: 200px;
    }
}

/**
 * Hero unit (big unit on the top of the homepage)
 */
.hero-wrapper {
    background: linear-gradient(15deg, #eaeaea 50%,#ffffff 100%);
    height: 94vh;
}
.hero-background {
    background-position: center bottom;
    background-size: cover;
    height: 100%;
}
.hero {
    display: table;
    width: 100%;
    height: 100%;
    background: transparent no-repeat top center;
    background-size: 1004px !important;
}

.hero > .container {
    display: table-cell;
    vertical-align: middle;
}

@media (max-width: 768px) {
    .hero > .container {
        padding-top: 100px;
        display: block;
    }
}

.hero h1,
.hero h2 {
    font-weight: bold;
}

/* hide the signup form by default in the header */
.hero form {
    display: none;
}
.hero .form-control {
    background-color: #fff;
    border-width: 1px;
    color: #606163;
}

.btn-signup {
    margin-top: 46px;
    padding: 15px 50px;
    font-family: 'Open Sans';
    font-size: 16px;
    background-color: #f1c40f;
    border: none;
    border-radius: 30px;
    font-weight: 600;
    font-size: 16px;
    box-shadow: 0 0 0 6pt rgba(255,255,255,.3);
    color: #fff !important;
    text-transform: uppercase;
    transition: box-shadow 200ms, background-color 200ms;
}

.btn-signup:hover, .btn-signup:focus {
    background-color: #f1c40f;
    color: #fff;
    box-shadow: 0 0 0 6pt rgba(255,255,255,.45);
}

.hero-background {
    background-image: url('../bg.jpg');
}

@media (max-width: 768px) {
    .hero-background {
        background-image: url('../bg_mobile.jpg');
    }
}

.post-background {
    height: 400px;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

.page-number {
    display: inline-block;
    padding: 2px;
    margin-left: 2px;
    margin-right: 2px;
    min-width: 20px !important;
    color: black !important;
}

.older-posts, .newer-posts {
    border: none !important;
    color: black !important;
    font-size: 14px;
}

.older-posts.disabled, .newer-posts.disabled {
    color: #CFD0D1 !important;
    text-decoration: none;
    cursor: text;
    line-height: 26px;
}

.pagination {
    display: block;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.request-demo-result {
  font-family: "Open Sans";
  font-size: 22px;
  line-height: 64px;
  color: #fff;
}

.request-loader {
  animation-name: spin;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.request-demo-form {
  position: relative;
  display: inline-block !important;
  height: 64px;
  width: 100%;
}

.request-demo-form .btn-request-form-input {
  display: none;
  max-width: 0;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 74px;
  background-color: rgba(255, 255, 255, 0.45);
  border-style: none;
  border-radius: 35px;
  width: 200px;
  font-size: 18px;
  height: 64px;
  color: #838383;
  box-sizing: border-box;
  transition: width 200ms;
  border: 1px solid transpatent;
  outline: none !important;
}

footer .btn-request-form-input {
  color: #fff !important;
}

.request-demo-form .btn-request-demo {
  margin-top: 4px;
  padding: 15px 50px;
  border: none;
  border-radius: 30px;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  transition: box-shadow 200ms, background-color 200ms, width 200ms;
  background-color: #f1c40f;
  color: #fff;
  box-shadow: 0 0 0 6pt rgba(255, 255, 255, 0.3);
  cursor: pointer;
  outline: none !important;
}

.request-demo-form .btn-request-demo:hover {
  box-shadow: 0 0 0 6pt rgba(255, 255, 255, 0.45);
}

.request-demo-form.has-error .btn-request-form-input {
  border: 1px solid red;
}

.request-demo-form.is-form .btn-request-form-input {
  display: inline-block;
  width: 100%;
  max-width: 800px;
}

.request-demo-form.is-form .btn-request-demo {
  position: absolute;
  top: 6px;
  right: 6px;
  margin-top: 0;
  padding: 15px;
  width: 52px;
  box-shadow: none;
}

.request-demo-form.is-loading .btn-request-demo {
  background-color: #00BD9C;
}

.read-next {
    display: none !important;
}
