<footer>
    <div class="container">
        <div class="row">
            <section class="col-xs-12 col-sm-4">
                <h2>About Codefresh</h2>
            </section>
            <section class="col-xs-12 col-sm-4">
                <h2>Sign up for beta</h2>
            </section>
            <section class="col-xs-12 col-sm-4">
                <h2>Codefresh Updates</h2>
            </section>
        </div>
    </div>
</footer>
