<h2>Sign up for beta</h2>
<form class="js-form-signup" action="//codefresh.us9.list-manage.com/subscribe/post?u=196664b13be17244fba954ad4&amp;id=21e2b00b43" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form">
    <div class="form-group">
        <input type="text" name="FULLNAME" placeholder="Name" class="form-control input-lg" required/>
    </div>

    <div class="form-group">
        <input type="email" name="EMAIL" placeholder="Email" class="form-control input-lg" required/>
    </div>

    <button type="submit" class="btn btn-primary btn-lg">Sign Up</button>
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_196664b13be17244fba954ad4_21e2b00b43" tabindex="-1" value=""></div>
</form>
<div class="alert alert-success" style="display:none">
    Thank you for signing up!
</div>
