<h2>Sign up for beta</h2>

<p>Our private beta is now open</p>

<div class="text-center">
    <a href="https://beta.codefresh.io" class="btn btn-primary btn-lg btn-signup btn-signup-footer">
        join our beta
    </a>
</div>
