<h2>About Codefresh</h2>
<p>
Codefresh is a Docker platform for Development teams. It provide an automated Docker Flow (workflow for Docker images) that streamlines the Docker images lifecycle (build, run, test, deploy).</p>

<p>Codefresh customers benefit from an accelerated application delivery flow, complete tracing and auditing capabilities for docker images and seamless transition to Docker-based application</p>

<p>We are in private beta. <span class="highlight">Request a demo</span> up to join now!</p>

<ul class="list-inline">
    <li><a href="https://www.facebook.com/codefresh.io" target="_blank">
        <i class="fa fa-facebook-square fa-3x"></i>
    </a></li>
    <li><a href="https://twitter.com/codefresh" target="_blank">
        <i class="fa fa-twitter-square fa-3x"></i>
    </a></li>
    <li><a href="https://www.linkedin.com/company/codefresh?trk=company_logo" target="_blank">
        <i class="fa fa-linkedin-square fa-3x"></i>
    </a></li>
    <li><a href="mailto:contact@codefresh.io">
        <i class="fa fa-envelope-o fa-3x"></i>
    </a></li>
</ul>
