<footer>
    <div class="container">
        <div class="row">
            <section class="col-xs-12 col-sm-4">
                {{> footer.left}}
            </section>
            <section class="col-xs-12 col-sm-4">
                {{> footer.center}}
            </section>
            <section class="col-xs-12 col-sm-4">
                {{> footer.right}}
            </section>
        </div>
    </div>
</footer>
