<h2>About Codefresh</h2>
<p>
Codefresh allows agile teams to collaborate effectively on any feature branch or pull request. With Codefresh, agile teams can find, isolate and resolve any issue immediately, spending <span class="highlight">no time</span> on installation and configuration of complex environments.</p>

<p>Codefresh leverages the latest <span class="highlight">Docker</span> tools (compose, swarm, and machine) to deliver a productive developer experience while eliminating the typical disparity between local development and production environments.</p>

<p>We are in private beta. <span class="highlight">Sign up</span> up to join now!</p>

<ul class="list-inline">
    <li><a href="https://www.facebook.com/codefresh.io" target="_blank">
        <i class="fa fa-facebook-square fa-3x"></i>
    </a></li>
    <li><a href="https://twitter.com/codefresh" target="_blank">
        <i class="fa fa-twitter-square fa-3x"></i>
    </a></li>
    <li><a href="https://www.linkedin.com/company/codefresh?trk=company_logo" target="_blank">
        <i class="fa fa-linkedin-square fa-3x"></i>
    </a></li>
    <li><a href="mailto:contact@codefresh.io">
        <i class="fa fa-envelope-o fa-3x"></i>
    </a></li>
</ul>
